# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Build generated
build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Packages/
# Package.pins
# Package.resolved
.build/

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
# Pods/

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/#source-control

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
WRSwiftUtilDemo/Podfile.lock
WRSwiftUtilDemo/Pods/Colours/Colours.h
WRSwiftUtilDemo/Pods/Colours/Colours.m
WRSwiftUtilDemo/Pods/Colours/LICENSE
WRSwiftUtilDemo/Pods/Colours/README.md
WRSwiftUtilDemo/Pods/Manifest.lock
WRSwiftUtilDemo/Pods/Pods.xcodeproj/project.pbxproj
WRSwiftUtilDemo/Pods/Target Support Files/Colours/Colours-dummy.m
WRSwiftUtilDemo/Pods/Target Support Files/Colours/Colours-Info.plist
WRSwiftUtilDemo/Pods/Target Support Files/Colours/Colours-prefix.pch
WRSwiftUtilDemo/Pods/Target Support Files/Colours/Colours-umbrella.h
WRSwiftUtilDemo/Pods/Target Support Files/Colours/Colours.modulemap
WRSwiftUtilDemo/Pods/Target Support Files/Colours/Colours.xcconfig
WRSwiftUtilDemo/Pods/Target Support Files/Pods-WRSwiftUtilDemo/Pods-WRSwiftUtilDemo-acknowledgements.markdown
WRSwiftUtilDemo/Pods/Target Support Files/Pods-WRSwiftUtilDemo/Pods-WRSwiftUtilDemo-acknowledgements.plist
WRSwiftUtilDemo/Pods/Target Support Files/Pods-WRSwiftUtilDemo/Pods-WRSwiftUtilDemo-dummy.m
WRSwiftUtilDemo/Pods/Target Support Files/Pods-WRSwiftUtilDemo/Pods-WRSwiftUtilDemo-frameworks-Debug-input-files.xcfilelist
WRSwiftUtilDemo/Pods/Target Support Files/Pods-WRSwiftUtilDemo/Pods-WRSwiftUtilDemo-frameworks-Debug-output-files.xcfilelist
WRSwiftUtilDemo/Pods/Target Support Files/Pods-WRSwiftUtilDemo/Pods-WRSwiftUtilDemo-frameworks-Release-input-files.xcfilelist
WRSwiftUtilDemo/Pods/Target Support Files/Pods-WRSwiftUtilDemo/Pods-WRSwiftUtilDemo-frameworks-Release-output-files.xcfilelist
WRSwiftUtilDemo/Pods/Target Support Files/Pods-WRSwiftUtilDemo/Pods-WRSwiftUtilDemo-frameworks.sh
WRSwiftUtilDemo/Pods/Target Support Files/Pods-WRSwiftUtilDemo/Pods-WRSwiftUtilDemo-Info.plist
WRSwiftUtilDemo/Pods/Target Support Files/Pods-WRSwiftUtilDemo/Pods-WRSwiftUtilDemo-umbrella.h
WRSwiftUtilDemo/Pods/Target Support Files/Pods-WRSwiftUtilDemo/Pods-WRSwiftUtilDemo.debug.xcconfig
WRSwiftUtilDemo/Pods/Target Support Files/Pods-WRSwiftUtilDemo/Pods-WRSwiftUtilDemo.modulemap
WRSwiftUtilDemo/Pods/Target Support Files/Pods-WRSwiftUtilDemo/Pods-WRSwiftUtilDemo.release.xcconfig
